.building {
  background: #e4f3fa;
  padding-top: 40px;

  h3 {
    font-size: 30px;
    padding-bottom: 50px;
    text-align: center;
    color: #e5ae2a;
  }

  .wrap {
    padding-right: 50px;
    box-sizing: border-box;

    @media screen and (min-width: 1px) {
      display: none;
    }

    @media screen and (min-width: 800px) {
      @include span(6);

      display: block;
    }
  }

  .home_photo {
    position: relative;
    overflow: hidden;
    border-radius: 5px;

    &::before {
      content: "";
      padding-top: 100%;
      float: left;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  .info {
    @media screen and (min-width: 1px) {
      @include span(12);
    }

    @media screen and (min-width: 800px) {
      @include span(6);
    }

    ul {
      @include span(12);

      margin-bottom: 50px;
      margin-top: 40px;

      li {
        line-height: 20px;
        padding-top: 5px;

        &::after {
          content: ".";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden;
        }

        &::before {
          content: '●';
          color: #e5ae2a;
          padding-right: 10px;
          float: left;
          height: 25px;
        }
      }

      b {
        color: #e5ae2a;
        font-weight: 700;
      }
    }

    .reg {
      .reg_elem {
        box-sizing: border-box;

        @media screen and (min-width: 1px) {
          @include span(6);

          padding: 20px;
          margin: auto;
        }

        @media screen and (min-width: 800px) {
          @include span(4);

          padding: 0 10px;
        }

        .icon {
          position: relative;
          overflow: hidden;
          border-radius: 50%;
          margin-bottom: 40px;

          &::before {
            content: "";
            padding-top: 100%;
            float: left;
          }

          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            box-sizing: border-box;
            padding: 10px;
          }
        }

        h5 {
          color: #595857;
          font-size: 13px;

          &.name {
            padding-bottom: 15px;
          }

          &.status {
            padding-bottom: 15px;
          }

          &.work span {
            padding-top: 5px;
            padding-bottom: 5px;
            display: block;
          }
        }
      }
    }
  }
}
