.review {
  background: #e4f3fa;

  h2 {
    color: #db9023;
    font-weight: 300;
    font-size: 30px;
    text-transform: lowercase;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 40px;
  }

  .review_block {
    .review_buy_elem {
      box-sizing: border-box;
      text-align: center;
      float: left;
      width: 100%;
      cursor: pointer;

      img {
        width: 80%;
        transform: scale(1);
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }
      }

      @media (min-width: 970px) {
        width: 33.333%;
      }
    }

    .elem {
      box-sizing: border-box;

      @media all and (min-width: 1px) {
        @include span(12);

        text-align: center;
      }

      @media all and (min-width: 800px) {
        @include span(4);

        text-align: left;
      }

      .header {
        width: 200px;
        height: 200px;
        overflow: hidden;
        box-sizing: border-box;
        position: relative;

        @media all and (min-width: 1px) {
          margin: auto;
        }

        @media all and (min-width: 800px) {
          margin: 0;
        }

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-width: 98%;
          max-height: 98%;
          border-radius: 50%;
          border: 2px solid #e5ae2a;
        }
      }

      .name {
        color: #5b9bd5;
        font-size: 19px;
        padding-bottom: 10px;
        padding-top: 10px;
      }

      .status {
        color: #595857;
        text-transform: uppercase;
        font-size: 16px;
        padding-bottom: 20px;
      }

      p,
      .adress {
        color: #595857;
        font-size: 15px;
        padding-bottom: 15px;
      }
    }
  }
}
