.balls {
  background-size: cover;
  overflow: hidden;

  @media screen and (min-width: 1px) {
    padding-top: 84px;
  }

  @media screen and (min-width: 800px) {
    padding-top: 164px;
  }

  header {
    background: rgba(#599B9D, .7);
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    padding-top: 35px;
    padding-bottom: 50px;
    margin-bottom: 25px;
  }

  .flexslider {
    border: 0;
    margin-bottom: 0;
  }

  .flex-direction-nav a, .flex-direction-nav a:before {
    color: #E5AE2A;

    @media screen and (min-width: 1px) {
      display: none;
    }

    @media screen and (min-width: 800px) {
      display: block;
    }
  }

  .slides li {

    @media screen and (min-width: 1px) {
      height: 585px;
    }

    @media screen and (min-width: 800px) {
      height: 750px;
    }

    .container {
      text-align: center;

      img {
        max-height: 450px;
        width: auto;
        display: inline;

        @media screen and (min-width: 1px) {
          width: 95%;
        }

        @media screen and (min-width: 800px) {
          width: auto;
        }
      }
    }
  }

  .flex-control-paging li a {
    background: #E5AE2A;
    border: 5px solid #FFF;

    &.flex-active {
      background: #FFF;
      border: 5px solid #E5AE2A;
    }
  }

  .background_slide {
    padding-bottom: 150px;
    height: 100%;
  }

  .flex-control-nav {
    bottom: 70px;
  }

  .info {
    background: #FFF;
    padding-top: 15px;
    padding-bottom: 20px;

    span {
      text-align: center;

      @media screen and (min-width: 1px) {
        @include span(12);
        padding-bottom: 15px;
      }

      @media screen and (min-width: 800px) {
        @include span(6);
        padding-bottom: 0;
      }
    }
  }
}
