.building {
  background: #E4F3FA;

  @media screen and (min-width: 1px) {
    padding-top: 20px;
  }

  @media screen and (min-width: 800px) {
    padding-top: 100px;
  }

  .wrap {
    padding-right: 50px;
    box-sizing: border-box;

    @media screen and (min-width: 1px) {
      display: none;
    }

    @media screen and (min-width: 800px) {
      display: block;
      @include span(6);
    }
  }

  .home_photo {
    position: relative;
    overflow: hidden;
    border-radius: 5px;

    &:before {
      content: "";
      padding-top: 100%;
      float: left;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  .info {

    @media screen and (min-width: 1px) {
      @include span(12);
    }

    @media screen and (min-width: 800px) {
      @include span(6);
    }

    h3 {
      font-size: 27px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 300;
      color: #DB9023;
      padding-top: 25px;
    }

    h4 {
      font-size: 19px;
      color: #595857;
      padding-top: 20px;
      text-align: center;
      padding-bottom: 40px;
    }

    .reg {

      .reg_elem {
        box-sizing: border-box;

        @media screen and (min-width: 1px) {
          padding: 20px 20px;
          @include span(12);
        }

        @media screen and (min-width: 800px) {
          padding: 0 20px;
          @include span(4);
        }

        .icon {
          position: relative;
          overflow: hidden;
          border-radius: 50%;
          margin-bottom: 40px;

          &:before {
            content: "";
            padding-top: 100%;
            float: left;
          }

          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
          }
        }

        h5 {
          color: #595857;
        }
      }
    }
  }
}
