.choose {
  background: #FDFDFD;

  h2 {
    color: #DB9023;
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 40px;
  }

  li {
    line-height: 20px;
    padding-top: 5px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    color: #595857;

    &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }

    &:before {
      content: '●';
      color: #E5AE2A;
      padding-right: 10px;
      float: left;
      padding-bottom: 2%;
      width: 3%;
      box-sizing: border-box;
    }

    span {
      float: left;
      width: 97%;
    }
  }


  b {
    color: #E5AE2A;
    font-weight: 700;
  }
}
