.size {
  background: #fff;

  .container { position: relative; }

  .table_wrap {
    overflow-x: auto;
    width: 100%;
  }

  h4 {
    color: #595857;
    font-size: 18px;
    padding-bottom: 10px;
  }

  ul {
    @include span(12);

    box-sizing: border-box;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  li {
    line-height: 20px;
    padding-top: 5px;
    color: #595857;

    &::after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }

    &::before {
      content: '●';
      color: #e5ae2a;
      padding-right: 10px;
      float: left;
      height: 25px;
    }
  }

  .price {
    position: absolute;
    top: 20px;
    right: 0;

    @media (min-width: 1px) {
      display: none;
    }

    @media (min-width: 800px) {
      display: block;
    }
  }

  #flat_calculator {
    display: block;
    width: 370px;
    height: 70px;
    border-radius: 5px;
    border: 2px solid #f7af12;
    margin: 25px auto;
    background: transparent;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
  }
}
