.success {
  background: #E4F3FA;

  h2 {
    color: #DB9023;
    font-weight: 300;
    font-size: 30px;
    text-transform: lowercase;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 40px;
  }

  p {
    color: #595857;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 18px;
  }

  li {
    line-height: 20px;
    padding-top: 5px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    color: #595857;

    &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }

    &:before {
      content: '●';
      color: #E5AE2A;
      padding-right: 10px;
      float: left;
      padding-bottom: 2%;
      width: 3%;
      box-sizing: border-box;
    }

    span {
      float: left;
      width: 97%;
    }
  }

  .company {
    @include span(12);

    .elem {
      position: relative;
      overflow: hidden;

      @media all and (min-width: 1px) {
        @include span(12);
      }

      @media all and (min-width: 800px) {
        @include span(4);
      }

      img {
        width: 100%;
      }
    }
  }

}
