.table {
  background: #e4f3fa;

  h2 {
    color: #db9023;
    font-weight: 300;
    font-size: 30px;
    text-transform: lowercase;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 40px;
  }

  p {
    color: #595857;
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
  }

  table {
    width: 100%;
    color: #595857;

    tr:nth-child(odd) {
      background: #fff;
    }

    tr:nth-child(even) {
      background: #fef6e6;
    }

    th {
      color: #595857;
      font-weight: 700;
      text-transform: uppercase;
      background: #f7af12;
      border: 1px solid #fff;
      padding: 15px;
    }

    td {
      border-left: 1px solid #fbc35b;
      padding: 15px;
    }

    b {
      font-weight: 700;
    }
  }
}
