- var styleCss = { position: 'absolute', top: '287px', left: '368px'}

svg(class="plan_for_click" xmlns="http://www.w3.org/2000/svg" width="221" height="266" viewBox="0 0 221 266" style=styleCss)
  polygon(class="shape" points="0 0 53.92 0 53.92 54.42 26.96 54.42 26.96 65.01 0 65.01 0 0" onclick="changeInfo('15 000 000', 'plan_a/block_a_5.png', 'Комната', 2, 48.00, 29.28, 22.51, 11.35, null, null, 1, 1, 5);")
