- var styleCss = { position: 'absolute', top: '18px', left: '155px'}

svg(xmlns="http://www.w3.org/2000/svg" width="332" height="213" viewBox="0 0 332 213" style=styleCss)
  polygon(class="shape" points="0 52 81.13 52 81.13 11.75 52.13 11.75 52.13 0 0 0 0 52")
