- var styleCss = { position: 'absolute', top: '287px', left: '817px'}

svg(id="plan_a" xmlns="http://www.w3.org/2000/svg" width="322" height="261" viewBox="0 0 322 261" style=styleCss)
  polygon(class="shape" points="0.13 0 0 63.75 26.25 63.75 26.25 52.75 78.75 52.75 78.75 0.08 0.13 0")
