- var styleCss = { position: 'absolute', top: '12px', left: '676px'}

svg(id="plan_a" xmlns="http://www.w3.org/2000/svg" width="235" height="220" viewBox="0 0 235 220" style=styleCss)
  polygon(class="shape" points="0 10.63 0 53.79 57.38 53.62 56.06 0 29.43 0 29.28 10.75 0 10.63")
