- var styleCss = { position: 'absolute', top: '18px', left: '155px'}

svg(class="plan_for_click" xmlns="http://www.w3.org/2000/svg" width="332" height="213" viewBox="0 0 332 213" style=styleCss)
  polygon(class="shape" points="0 52 81.13 52 81.13 11.75 52.13 11.75 52.13 0 0 0 0 52" onclick="changeInfo('15 000 000', 'plan_b/block_b_2.png', 'Комната', 2, 56.72, 35.17, 28.26, 15.72, null, null, 1, 1);")
