- var styleCss = { position: 'absolute', top: '12px', left: '913px'}

svg(class="plan_for_click" xmlns="http://www.w3.org/2000/svg" width="228" height="268" viewBox="0 0 228 268" style=styleCss)
  polygon(class="shape" points="0 0 0 65.58 55.67 65.58 55.67 11.75 52.25 11.75 52.25 0 0 0")
