- var styleCss = { position: 'absolute', top: '18px', left: '35px'}

svg(class="plan_for_click" xmlns="http://www.w3.org/2000/svg" width="223" height="262" viewBox="0 0 223 262" style=styleCss)
  polygon(class="shape" points="0.5 64.75 53.63 64.75 53.63 12.25 55 12.25 55 0.5 3.63 0.5 3.63 12.13 0.5 12.13 0.5 64.75" onclick="changeInfo('15 000 000', 'plan_c/block_c_1.png', 'Комната', 2, 50.56, 27.73, 21.51, 12.22, null, null, 1, 2, 2, null, null);")
