- var styleCss = { position: 'absolute', top: '12px', left: '913px'}

svg(class="plan_for_click" xmlns="http://www.w3.org/2000/svg" width="228" height="268" viewBox="0 0 228 268" style=styleCss)
  polygon(class="shape" points="0 0 0 65.58 55.67 65.58 55.67 11.75 52.25 11.75 52.25 0 0 0" onclick="changeInfo('15 000 000', 'plan_a/block_a_3.png', 'Комната', 2, 50.56, 27.73, 21.51, 12.22, null, null, 1, 2);")
