- var styleCss = { position: 'absolute', top: '6px'}

svg(id="plan_a" xmlns="http://www.w3.org/2000/svg" width="500" height="280" viewBox="0 0 500 280" style=styleCss)
  polygon(class="shape" points="0 68 67.17 68 67.17 56.33 122.83 56.33 123.5 11.33 94.5 11.33 94.5 0 38.17 0 38 10 38 11.17 6.33 11 6.33 44 0 44 0 68")
