- var styleCss = { position: 'absolute', top: '290px', left: '33px'}

svg(class="plan_for_click" xmlns="http://www.w3.org/2000/svg" width="313" height="262" viewBox="0 0 313 262" style=styleCss)
  polygon(class="shape" points="0 0 76.42 0 76.42 64.17 50.5 64.17 50.5 52.75 0 52.75 0 0" onclick="changeInfo('15 000 000', 'plan_c/block_c_7.png', 'Комната', 3, 66.96, 44.53, 24.82, 11.35, 14.36, null, 1, 1);")
