- var styleCss = { position: 'absolute', top: '18px', left: '656px'}

svg(class="plan_for_click" xmlns="http://www.w3.org/2000/svg" width="223" height="210" viewBox="0 0 223 210" style=styleCss)
  polygon(class="shape" points="0.5 11.46 28.5 11.46 28.5 0.5 54.83 0.5 54.83 51.75 0.5 51.75 0.5 11.46")
