- var styleCss = { position: 'absolute', top: '12px', left: '901px'}

svg(class="plan_for_click" xmlns="http://www.w3.org/2000/svg" width="222" height="495" viewBox="0 0 222 495" style=styleCss)
  polygon(class="shape twox" points="65.7,0 145,0 145,289.5 10.1,289.5 10.1,145.4 0,144.7 0,111.9 66.9,110.7" onclick="changeInfo('15 000 000', 'plan_b/block_b_4.png', 'Комната', 4, 72.30, 51.13, 24.15, 15.07, 17.91, 15.72, 1, 1, 2);" style="transform: translate(-31px, 17px) scale(1.9);")
