- var styleCss = { position: 'absolute', top: '290px', left: '349px'}

svg(class="plan_for_click" xmlns="http://www.w3.org/2000/svg" width="218" height="262" viewBox="0 0 218 262" style=styleCss)
  polygon(class="shape" points="0.5 0.5 53.67 0.5 53.67 53.67 27.08 53.67 27.08 64.25 0.5 64.25 0.5 0.5" onclick="changeInfo('15 000 000', 'plan_c/block_c_6.png', 'Комната', 2, 48.00, 29.19, 22.51, 12.68, null, null, 1, 1);")
