- var styleCss = { position: 'absolute', top: '291px', left: '244px'}

svg(class="plan_for_click" xmlns="http://www.w3.org/2000/svg" width="331" height="262" viewBox="0 0 331 262" style=styleCss)
  polygon(class="shape" points="0 0 80.88 0 80.88 53.38 55.63 53.38 55.63 64.13 0 64.13 0 0" onclick="changeInfo('15 000 000', 'plan_b/block_b_6.png', 'Комната', 3, 73.13, 46.11, 25.79, 11.17, 15.15, null, 2, 2, 3, null, null);")
