- var styleCss = { position: 'absolute', top: '291px', left: '578px'}

svg(xmlns="http://www.w3.org/2000/svg" width="330" height="256" viewBox="0 0 330 256" style=styleCss)
  polygon(class="shape" points="0 0 80.63 0 80.63 62.5 29 62.5 29 53 0 53 0 0")
