- var styleCss = { position: 'absolute', top: '287px', left: '0'}

svg(class="plan_for_click" xmlns="http://www.w3.org/2000/svg" width="375" height="270" viewBox="0 0 375 270" style=styleCss)
  polygon(class="shape" points="0 0 87.5 0 87.5 66.01 61.42 66.01 61.42 54.09 8.67 54.09 8.67 23.17 0 23.17 0 0")
