- var styleCss = { position: 'absolute', top: '291px', left: '244px'}

svg(xmlns="http://www.w3.org/2000/svg" width="331" height="262" viewBox="0 0 331 262" style=styleCss)
  polygon(class="shape" points="0 0 80.88 0 80.88 53.38 55.63 53.38 55.63 64.13 0 64.13 0 0")
