- var styleCss = { position: 'absolute', top: '22px', left: '258px'}

svg(class="plan_for_click" xmlns="http://www.w3.org/2000/svg" width="223" height="210" viewBox="0 0 223 210" style=styleCss)
  polygon(class="shape" points="0.5 0.5 26.25 0.5 26.25 11.5 55 11.5 55 51.75 0.5 51.75 0.5 0.5" onclick="changeInfo('15 000 000', 'plan_c/block_c_2.png', 'Комната', 1, 39.15, 20.82, 30,14, null, null, null, 1, 1);")
