- var styleCss = { position: 'absolute', top: '287px', left: '593px'}

svg(class="plan_for_click" xmlns="http://www.w3.org/2000/svg" width="221" height="266" viewBox="0 0 221 266" style=styleCss)
  polygon(class="shape" points="0 0 53.75 0 53.75 64.17 26.88 64.17 26.88 53.42 0 53.42 0 0" onclick="changeInfo('15 000 000', 'plan_a/block_a_6.png', 'Комната', 2, 48.00, 29.19, 22.51, 12.68, null, null, 1, 1, 4, null, null);")
