- var styleCss = { position: 'absolute', top: '287px', left: '817px'}

svg(class="plan_for_click" xmlns="http://www.w3.org/2000/svg" width="322" height="261" viewBox="0 0 322 261" style=styleCss)
  polygon(class="shape" points="0.13 0 0 63.75 26.25 63.75 26.25 52.75 78.75 52.75 78.75 0.08 0.13 0" onclick="changeInfo('15 000 000', 'plan_a/block_a_7.png', 'Комната', 3, 69.31, 38.98, 23.60, 11.87, 14.21, null, 2, 1);")
