- var styleCss = { position: 'absolute', top: '12px', left: '664px'}

svg(class="plan_for_click" xmlns="http://www.w3.org/2000/svg" width="233" height="219" viewBox="0 0 233 219" style=styleCss)
  polygon(class="shape" points="0 13 30.38 13 30.38 0 56.88 0 56.88 53.63 0 53.63 0 13")
