@import
  'sass/_susy.scss',
  'sections/reset.scss',
  'sections/mail';

$susy: (
  columns: 12,
  gutters: 1/2,
  math: fluid,
  gutter-position: outside,
);

$container: 1170px;
$container-float: 100%;

body {
  font-family: Roboto, sans-serif;

  @media (min-width: 900px) {
    zoom: 0.75;
  }
}

.container-float {
  @include container($container-float);
}

.container {
  @include container($container);
}

footer.blue {
  background: url('images/pattern_blue.png') repeat;
  height: 67px;

  @media screen and (min-width: 1px) {
    margin-top: 20px;
  }

  @media screen and (min-width: 800px) {
    margin-top: 120px;
  }
}

footer.white {
  background: url('images/pattern_white.png') repeat;
  height: 77px;

  @media screen and (min-width: 1px) {
    margin-top: 20px;
  }

  @media screen and (min-width: 800px) {
    margin-top: 60px;
  }
}

footer.slider_footer {
  margin-top: 0;
  opacity: 0.99;
  margin-top: -67px;
}

header {
  background: rgba(255, 255, 255, 0.8);

  @media screen and (min-width: 1px) {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
  }

  @media screen and (min-width: 800px) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 25px;
  }

  h3 {
    color: #db9023;
    text-transform: lowercase;
    font-weight: 300;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 15px;
  }

  p {
    color: #595857;
    line-height: 20px;
    margin: auto;

    @media screen and (min-width: 1px) {
      width: 100%;
    }

    @media screen and (min-width: 600px) {
      width: 600px;
    }
  }
}

.open_tab {
  display: block;
}

.close_tab {
  display: none;
}

@import
  'sections/navigation',
  'sections/main',
  'sections/map',
  'sections/building',
  'sections/advice',
  'sections/house',
  'sections/choose',
  'sections/plans',
  'sections/profit',
  'sections/report',
  'sections/review',
  'sections/size',
  'sections/success',
  'sections/table',
  'sections/modal'
