@import
  'sass/_susy.scss',
  'sections/reset.scss',
  'sections/mail';

$susy: (
  columns: 12,
  gutters: 1/2,
  math: fluid,
  gutter-position: outside,
);

$container: 1170px;
$container-float: 100%;

body {
  font-family: Roboto, sans-serif;
}

.container-float{
  @include container($container-float);
}

.container{
  @include container($container);
}

footer.blue {
  background: url('images/pattern_blue.png') repeat;
  height: 67px;

  @media screen and (min-width: 1px) {
    margin-top: 20px;
  }

  @media screen and (min-width: 800px) {
    margin-top: 120px;
  }
}

@import
  'sections/navigation',
  'sections/section_1',
  'sections/section_2',
  'sections/section_3'
