//- Блок с мета тегами
meta(charset="utf-8")
meta(name="description" content="")
meta(name="Keywords" content="")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=480")

//- Подключение css
link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,cyrillic-ext' rel='stylesheet')
link(rel="stylesheet" href!="<?php echo get_template_directory_uri();?>/libs/fancybox/source/jquery.fancybox.css")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.1/flexslider.min.css")
link(rel="stylesheet" href!="<?php echo get_template_directory_uri();?>/style.css") 
