a(name="position")
section.balls
  .flexslider
    ul.slides
      li
        .background_slide(style="background: url(http://comfortcity.kz/wp-content/themes/comfort/images/green.jpg); background-size: cover;")
          header="Акция"
          .container
            img(src!="<?php echo get_template_directory_uri();?>/images/stock_1.jpg").stock
            img(src!="<?php echo get_template_directory_uri();?>/images/stock.jpg").stock
      li
        .background_slide(style="background: url(http://comfortcity.kz/wp-content/themes/comfort/images/green.jpg); background-size: cover;")
          header="Трехкомнатные квартиры по цене двухкомнатных"
          .container
            img(src!="<?php echo get_template_directory_uri();?>/images/house_2.png").second
            a(href="http://vkomforte.kz/" target="_blank")
              img(src!="<?php echo get_template_directory_uri();?>/images/house_1.png").third
      li
        .background_slide(style="background: url(http://comfortcity.kz/wp-content/themes/comfort/images/green.jpg); background-size: cover;")
          header="Вид детской площадки"
          .container
            img(src!="<?php echo get_template_directory_uri();?>/images/house_lit_1.jpg").second
            img(src!="<?php echo get_template_directory_uri();?>/images/house_lit_2.jpg").third
  footer.white.slider_footer
  //- .info
  //-   .container
  //-     span!="как правильно выбрать квартиру "
  //-       a(href="images/house_1.jpg")="скачать обзор"
  //-     span!="экскурсия по комплексу "
  //-       a(href="images/house_1.jpg")="видео"
      
