section.modal.close_modal
  .wrap
    .form
      .wrap
        .closer
        h3="Оставьте заявку"
        input(type="text" required placeholder="Имя")
        input(type="mail" required placeholder="E-mail")
        input(type="tel" required placeholder="Телефон")
        button="Отправить"
