section.modal_calculate.close_modal
  .wrap
    form#calculator
      .wrap
        .closer
        h3="Расчитайте стоймость квартиры"
        input(type="text" name="flat" required placeholder="Стоймость квартиры")
        input(type="text" name="first_pay" required placeholder="Первоначальный взнос")
        input(type="text" name="long" required placeholder="Срок займа, лет")
        input(type="text" name="percent" required placeholder="Ставка кредита, %")
        button="Расчитать"
        
        h4
          span Ежемесячный платеж: 
          span#price
