section.main
  .container
    img(src!="<?php echo get_template_directory_uri();?>/images/logo.png")
    h3!="Посмотрите видео о жилом комплексе"
    .video_elem
      iframe(src="https://www.youtube.com/embed/SUISX87R234?ecver=2" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen)
    .video_elem
      iframe(src="https://www.youtube.com/embed/EpiqBPMYMaY?ecver=2" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen)
    .video_elem
      iframe(src="https://www.youtube.com/embed/Vw_YUxR1V_4?ecver=2" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen)
    .video_elem
      iframe(src="https://www.youtube.com/embed/VX1-kL4Ab4E?ecver=2" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen)
    .video_elem
      iframe(src="https://www.youtube.com/embed/KPVy6QIF70Q?ecver=2" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen)
    .video_elem
      iframe(src="https://www.youtube.com/embed/FduYZ8_reDM?ecver=2" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen)
  footer.blue
