@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#mail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); }
  #mail .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 25px;
    padding: 25px; }
    #mail .message img {
      width: 150px;
      height: 150px; }
    #mail .message .message_text {
      float: right;
      padding-left: 25px;
      padding-top: 30px; }
      #mail .message .message_text h3 {
        font-size: 25pt;
        font-weight: 300;
        color: #0f0f0f; }
      #mail .message .message_text p {
        font-size: 11pt; }

.not_visible_mail {
  display: none; }

body {
  font-family: Roboto, sans-serif; }
  @media (min-width: 900px) and (max-width: 1400px) {
    body {
      zoom: 0.75; } }

.container-float {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .container-float:after {
    content: " ";
    display: block;
    clear: both; }

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

footer.blue {
  background: url("images/pattern_blue.png") repeat;
  height: 67px; }
  @media screen and (min-width: 1px) {
    footer.blue {
      margin-top: 20px; } }
  @media screen and (min-width: 800px) {
    footer.blue {
      margin-top: 120px; } }

footer.white {
  background: url("images/pattern_white.png") repeat;
  height: 77px; }
  @media screen and (min-width: 1px) {
    footer.white {
      margin-top: 20px; } }
  @media screen and (min-width: 800px) {
    footer.white {
      margin-top: 60px; } }

footer.slider_footer {
  margin-top: 0;
  opacity: 0.99;
  margin-top: -67px; }

header {
  background: rgba(255, 255, 255, 0.8); }
  @media screen and (min-width: 1px) {
    header {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 0; } }
  @media screen and (min-width: 800px) {
    header {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 25px; } }
  header h3 {
    color: #db9023;
    text-transform: lowercase;
    font-weight: 300;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 15px; }
  header p {
    color: #595857;
    line-height: 20px;
    margin: auto; }
    @media screen and (min-width: 1px) {
      header p {
        width: 100%; } }
    @media screen and (min-width: 600px) {
      header p {
        width: 600px; } }

.open_tab {
  display: block; }

.close_tab {
  display: none; }

nav {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  padding-bottom: 15px;
  z-index: 10;
  background: #fff; }
  nav header {
    padding-bottom: 15px; }
  @media screen and (min-width: 1px) {
    nav .logo {
      width: 300px; } }
  @media screen and (min-width: 800px) {
    nav .logo {
      width: 330px; } }
  nav .number-block {
    width: 22.85714%;
    float: right;
    padding-top: 20px; }
    @media screen and (min-width: 1px) {
      nav .number-block {
        display: none; } }
    @media screen and (min-width: 800px) {
      nav .number-block {
        display: block; } }
    nav .number-block .number {
      color: #858585;
      letter-spacing: 1.4px; }
      nav .number-block .number b {
        color: #4570b4;
        padding-left: 10px;
        font-size: 26px; }
    nav .number-block .button-open-form {
      background: url("images/button.png") repeat;
      color: #fff;
      font-size: 12px;
      height: 22px;
      padding-left: 7px;
      padding-top: 4px;
      box-sizing: border-box;
      width: 200px;
      vertical-align: center;
      margin-top: 10px;
      cursor: pointer; }
      nav .number-block .button-open-form::before {
        content: ' ';
        display: block;
        float: left;
        background: url("images/sprite.png") no-repeat 0 0;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        margin-top: -2px; }
  nav .burger {
    border: 1px solid #2b4275;
    float: right;
    padding: 6px 3px;
    margin-top: 30px;
    cursor: pointer; }
    @media screen and (min-width: 1px) {
      nav .burger {
        display: block; } }
    @media screen and (min-width: 800px) {
      nav .burger {
        display: none; } }
    nav .burger .lines {
      background: url("images/sprite.png") no-repeat -20px -3px;
      width: 20px;
      height: 13px; }
  nav .menu {
    text-align: center;
    padding-top: 15px;
    background: #fff;
    width: 100%;
    position: relative; }
    @media screen and (min-width: 1px) {
      nav .menu.open_menu {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateY(0%);
        transition: transform 0.3s ease;
        overflow: auto;
        height: 100vh; } }
    @media screen and (min-width: 800px) {
      nav .menu.open_menu {
        position: static;
        transform: translateY(0%);
        height: auto;
        overflow: hidden; } }
    @media screen and (min-width: 1px) {
      nav .menu.close_menu {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        transition: transform 0.3s ease; } }
    @media screen and (min-width: 800px) {
      nav .menu.close_menu {
        position: static;
        transform: translateY(0%); } }
    nav .menu .closer {
      background: url("images/sprite.png") no-repeat -46px 0;
      width: 18px;
      height: 18px;
      position: absolute;
      top: 25px;
      right: 25px;
      cursor: pointer; }
      @media screen and (min-width: 1px) {
        nav .menu .closer {
          display: block; } }
      @media screen and (min-width: 800px) {
        nav .menu .closer {
          display: none; } }
    nav .menu a {
      color: #858585;
      text-decoration: none;
      text-transform: lowercase;
      font-size: 14px;
      transition: color, font-size 0.3s, 0.3s ease, ease-in;
      padding-left: 10px;
      padding-right: 10px; }
      @media screen and (min-width: 1px) {
        nav .menu a {
          display: block;
          width: 100%;
          padding-top: 15px;
          padding-bottom: 15px; } }
      @media screen and (min-width: 800px) {
        nav .menu a {
          display: inline; } }
      nav .menu a:hover {
        color: #d67f23;
        font-size: 16px; }

.balls {
  background-size: cover;
  overflow: hidden; }
  @media screen and (min-width: 1px) {
    .balls {
      padding-top: 84px; } }
  @media screen and (min-width: 800px) {
    .balls {
      padding-top: 136px; } }
  .balls header {
    background: rgba(89, 155, 157, 0.7);
    color: #fff;
    text-transform: lowercase;
    text-align: center;
    font-size: 30px;
    padding-top: 35px;
    padding-bottom: 40px;
    margin-bottom: 25px; }
  .balls .flexslider {
    border: 0;
    margin-bottom: 0; }
  .balls .flex-direction-nav a,
  .balls .flex-direction-nav a::before {
    color: #e5ae2a; }
    @media screen and (min-width: 1px) {
      .balls .flex-direction-nav a,
      .balls .flex-direction-nav a::before {
        display: none; } }
    @media screen and (min-width: 800px) {
      .balls .flex-direction-nav a,
      .balls .flex-direction-nav a::before {
        display: block; } }
  @media screen and (min-width: 1px) {
    .balls .slides li {
      height: 585px; } }
  @media screen and (min-width: 800px) {
    .balls .slides li {
      height: 750px; } }
  .balls .slides li .container {
    text-align: center; }
    .balls .slides li .container img {
      display: inline;
      max-height: 300px; }
      .balls .slides li .container img.first {
        transform: translateY(25%); }
        @media screen and (min-width: 1px) {
          .balls .slides li .container img.first {
            width: 95%; } }
        @media screen and (min-width: 800px) {
          .balls .slides li .container img.first {
            width: 70%; } }
      @media screen and (min-width: 1px) {
        .balls .slides li .container img.second {
          width: 65.71429%;
          float: left;
          margin-left: 14.28571%;
          transform: translateY(0); } }
      @media screen and (min-width: 800px) {
        .balls .slides li .container img.second {
          width: 48.57143%;
          float: left;
          padding-right: 25px;
          box-sizing: border-box;
          margin-left: 0;
          transform: translateY(25%); } }
      @media screen and (min-width: 1px) {
        .balls .slides li .container img.third {
          width: 65.71429%;
          float: left;
          margin-left: 14.28571%;
          transform: translateY(0); } }
      @media screen and (min-width: 800px) {
        .balls .slides li .container img.third {
          width: 48.57143%;
          float: left;
          margin-left: 0;
          transform: translateY(25%); } }
  .balls .flex-control-paging li a {
    background: #e5ae2a;
    border: 5px solid #fff; }
    .balls .flex-control-paging li a.flex-active {
      background: #fff;
      border: 5px solid #e5ae2a; }
  .balls .background_slide {
    padding-bottom: 150px;
    height: 100%; }
  .balls .flex-control-nav {
    bottom: 70px; }
  .balls .info {
    background: #fff;
    padding-top: 15px;
    padding-bottom: 20px; }
    .balls .info span {
      text-align: center; }
      @media screen and (min-width: 1px) {
        .balls .info span {
          width: 100%;
          float: left;
          margin-left: 0;
          margin-right: 0;
          padding-bottom: 15px; } }
      @media screen and (min-width: 800px) {
        .balls .info span {
          width: 48.57143%;
          float: left;
          padding-bottom: 0; } }

.map {
  position: relative; }
  @media screen and (min-width: 1px) {
    .map {
      height: 600px; } }
  @media screen and (min-width: 800px) {
    .map {
      height: 850px; } }
  .map .wrap_map {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%; }
  .map #map {
    height: 100%; }
  .map .content_wrap {
    position: absolute;
    width: 100%;
    height: 200px; }
  .map li {
    position: relative;
    color: #595857;
    padding-left: 25px;
    padding-top: 5px; }
    .map li::after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .map li::before {
      content: '●';
      position: absolute;
      left: 0;
      top: 0;
      color: #e5ae2a;
      padding-right: 10px;
      width: 3%;
      height: 100%;
      box-sizing: border-box; }
    @media (min-width: 600px) {
      .map li {
        width: 600px;
        margin: auto; } }
  .map footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
    .map footer .button_bottom {
      padding: 0 5px; }
      @media screen and (min-width: 1px) {
        .map footer .button_bottom {
          display: none; } }
      @media screen and (min-width: 800px) {
        .map footer .button_bottom {
          width: 22.85714%;
          float: left;
          display: block; } }
      .map footer .button_bottom .text {
        background: #fff;
        text-align: center;
        height: 90px;
        border-top-left-radius: 15px;
        box-sizing: border-box;
        padding-top: 35px;
        cursor: pointer;
        transition: background, color 0.3s, 0.3s, ease, ease; }
        .map footer .button_bottom .text:hover {
          background: #efefef; }
        .map footer .button_bottom .text.active {
          background: #5b9bd5;
          color: #fff; }

.building {
  background: #e4f3fa;
  padding-top: 40px; }
  .building h3 {
    font-size: 30px;
    padding-bottom: 50px;
    text-align: center;
    color: #e5ae2a; }
  .building .wrap {
    padding-right: 50px;
    box-sizing: border-box; }
    @media screen and (min-width: 1px) {
      .building .wrap {
        display: none; } }
    @media screen and (min-width: 800px) {
      .building .wrap {
        width: 48.57143%;
        float: left;
        display: block; } }
  .building .home_photo {
    position: relative;
    overflow: hidden;
    border-radius: 5px; }
    .building .home_photo::before {
      content: "";
      padding-top: 100%;
      float: left; }
    .building .home_photo img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%; }
  @media screen and (min-width: 1px) {
    .building .info {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }
  @media screen and (min-width: 800px) {
    .building .info {
      width: 48.57143%;
      float: left; } }
  .building .info ul {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
    margin-top: 40px; }
    .building .info ul li {
      line-height: 20px;
      padding-top: 5px; }
      .building .info ul li::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      .building .info ul li::before {
        content: '●';
        color: #e5ae2a;
        padding-right: 10px;
        float: left;
        height: 25px; }
    .building .info ul b {
      color: #e5ae2a;
      font-weight: 700; }
  .building .info .reg .reg_elem {
    box-sizing: border-box; }
    @media screen and (min-width: 1px) {
      .building .info .reg .reg_elem {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        padding: 20px; } }
    @media screen and (min-width: 800px) {
      .building .info .reg .reg_elem {
        width: 31.42857%;
        float: left;
        padding: 0 20px; } }
    .building .info .reg .reg_elem .icon {
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      margin-bottom: 40px; }
      .building .info .reg .reg_elem .icon::before {
        content: "";
        padding-top: 100%;
        float: left; }
      .building .info .reg .reg_elem .icon img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%; }
    .building .info .reg .reg_elem h5 {
      color: #595857; }

.advice {
  background: url("images/novosel.jpg") no-repeat;
  background-size: cover;
  position: relative;
  background-position: center center; }
  @media screen and (min-width: 1px) {
    .advice {
      height: auto; } }
  @media screen and (min-width: 800px) {
    .advice {
      height: 850px; } }
  @media screen and (min-width: 1px) {
    .advice footer {
      position: static;
      width: 100%;
      padding-top: 30px; } }
  @media screen and (min-width: 800px) {
    .advice footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding-top: 0; } }
  .advice footer .button_bottom {
    padding: 0 5px;
    box-sizing: border-box; }
    @media screen and (min-width: 1px) {
      .advice footer .button_bottom {
        width: 65.71429%;
        float: left;
        margin-left: 17%;
        margin-bottom: 15px; } }
    @media screen and (min-width: 800px) {
      .advice footer .button_bottom {
        width: 22.85714%;
        float: left;
        margin-left: 0;
        margin-bottom: 0; } }
    .advice footer .button_bottom .text {
      background: #fff;
      text-align: center;
      height: 90px;
      border-top-left-radius: 15px;
      box-sizing: border-box;
      padding-top: 35px;
      cursor: pointer;
      color: #000;
      transition: backgroun, color 0.3s, 0.3s, ease, ease; }
      .advice footer .button_bottom .text.active {
        background: #db9023;
        color: #fff; }
        .advice footer .button_bottom .text.active:hover {
          background: #db9023; }
      .advice footer .button_bottom .text:hover {
        background: #efeeee; }

.main {
  text-align: center;
  background: #fff;
  padding-bottom: 25px;
  box-sizing: border-box;
  padding-top: 70px; }
  .main h3 {
    font-size: 19px;
    color: #595857;
    padding: 25px 20px 50px; }
  .main .half {
    width: 48.57143%;
    float: left;
    box-sizing: border-box;
    text-align: left; }
    @media screen and (min-width: 1px) {
      .main .half {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        padding-left: 20px;
        padding-right: 20px; }
        .main .half.second {
          padding-left: 20px; } }
    @media screen and (min-width: 800px) {
      .main .half {
        width: 48.57143%;
        float: left;
        padding-left: 0;
        padding-right: 0; }
        .main .half.second {
          padding-left: 40px; } }
    .main .half b {
      color: #e5ae2a;
      font-weight: 700; }
  .main li {
    line-height: 20px;
    padding-top: 5px; }
    .main li::after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .main li::before {
      content: '●';
      color: #e5ae2a;
      padding-right: 10px;
      float: left;
      height: 25px; }

.choose {
  background: #fdfdfd; }
  .choose h2 {
    color: #db9023;
    font-weight: 300;
    font-size: 30px;
    text-transform: lowercase;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 40px; }
  .choose .half {
    width: 48.57143%;
    float: left;
    box-sizing: border-box;
    text-align: left; }
    @media screen and (min-width: 1px) {
      .choose .half {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        padding-left: 20px;
        padding-right: 20px; }
        .choose .half.second {
          padding-left: 20px; } }
    @media screen and (min-width: 800px) {
      .choose .half {
        width: 48.57143%;
        float: left;
        padding-left: 0;
        padding-right: 0; }
        .choose .half.second {
          padding-left: 40px; } }
  .choose li {
    line-height: 20px;
    padding-top: 5px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    color: #595857; }
    .choose li::after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .choose li::before {
      content: '●';
      color: #e5ae2a;
      padding-right: 10px;
      float: left;
      padding-bottom: 2%;
      width: 3%;
      box-sizing: border-box; }
    .choose li span {
      float: left;
      width: 97%; }
  .choose b {
    color: #e5ae2a;
    font-weight: 700; }

@keyframes opacityIn {
  from {
    opacity: 0;
    transform: translateX(-10%); }
  to {
    opacity: 1;
    transform: translateX(0%); } }

.plans {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative; }

.plans .content {
  width: 1170px;
  margin: auto;
  position: relative; }

.plans .wrap {
  min-width: 1170px;
  position: relative; }

.plans header {
  background: rgba(89, 155, 157, 0.7);
  color: #fff;
  text-transform: lowercase;
  text-align: center;
  font-size: 30px;
  padding-top: 35px;
  padding-bottom: 50px; }

.plans .house_config {
  position: relative;
  overflow: hidden;
  height: 600px; }

.plans .house_config img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); }

.plans footer.white {
  position: absolute;
  width: 100%;
  margin-top: -67px !important; }

.plans .plan {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease; }
  .plans .plan.close {
    transform: translateX(-100%); }

.plans .plan .closer,
.plans .plan_info .closer {
  height: 17px;
  width: 17px;
  position: absolute;
  right: 25px;
  top: 10px;
  background: url("images/sprite.png") no-repeat -136px 0;
  cursor: pointer;
  transform: scale(1.1); }

.plans .plan h3 {
  color: #db9023;
  text-transform: lowercase;
  font-weight: 300;
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 15px; }

.plans .shape {
  fill: rgba(219, 144, 35, 0.1);
  cursor: pointer;
  transform: scale(4.1);
  transition: fill 0.3s ease; }
  .plans .shape:hover {
    fill: rgba(219, 144, 35, 0.5); }

.plans .shape_rect {
  fill: rgba(219, 144, 35, 0.1);
  cursor: pointer;
  transition: fill 0.3s ease; }
  .plans .shape_rect:hover {
    fill: rgba(219, 144, 35, 0.5); }

.plans .shape_elem_svg:hover + .info_window {
  display: block;
  animation: opacityIn 0.5s ease forwards 0.3s; }

.plans .info_window {
  display: none;
  background: #e5ae2a;
  color: #fff;
  opacity: 0;
  position: absolute;
  padding: 10px 20px;
  border-radius: 5px; }

.plans .info_window h3 {
  font-size: 20px; }
  .plans .info_window h3::first-letter {
    font-size: 40px; }
  .plans .info_window h3 span {
    font-size: 40px; }

.plans .plan_info {
  background: #eaf6fe;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  transition: transform 0.3s ease; }
  .plans .plan_info.close {
    transform: translateX(-100%); }

.plans .plan_info h3 {
  color: #db9023;
  text-transform: lowercase;
  font-weight: 300;
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 15px; }

.plans .plan_info .container {
  position: relative; }

.plans .plan_info img[alt="compas"] {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
  width: 80px;
  height: 80px; }
  @media (min-width: 1px) {
    .plans .plan_info img[alt="compas"] {
      display: none; } }
  @media (min-width: 800px) {
    .plans .plan_info img[alt="compas"] {
      display: inline; } }

.plans .plan_info .image_plan {
  position: relative;
  box-sizing: border-box;
  text-align: center; }
  @media (min-width: 1px) {
    .plans .plan_info .image_plan {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      margin-top: 25px;
      padding-left: 20px;
      padding-right: 20px; } }
  @media (min-width: 800px) {
    .plans .plan_info .image_plan {
      width: 40%;
      float: left;
      margin-top: 80px;
      padding-left: 20px;
      padding-right: 20px; } }

.plans .plan_info .image_plan .price {
  position: absolute;
  top: -50px;
  left: 0;
  width: 120px;
  height: 120px;
  background: #e20613;
  color: #fff;
  font-weight: 700;
  border-radius: 50%;
  font-size: 15px;
  border: 5px solid;
  box-sizing: border-box;
  padding-top: 37px;
  cursor: default; }

.plans .plan_info .image_plan img {
  max-width: 100%;
  max-height: 500px; }

@media (min-width: 1px) {
  .plans .plan_info .text_plan {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding-top: 20px; } }

@media (min-width: 800px) {
  .plans .plan_info .text_plan {
    width: 57.14286%;
    float: left;
    padding-top: 120px; } }

.plans .plan_info .text_plan h4 {
  color: #f29100;
  font-weight: 700;
  font-size: 25px;
  text-align: center; }

.plans table {
  width: 360px;
  margin: auto;
  margin-top: 35px; }
  @media (min-width: 1px) {
    .plans table {
      margin-bottom: 100px; } }
  .plans table tr:nth-child(2n) {
    background: #f8b133; }
  .plans table tr:nth-child(2n + 1) {
    background: #fff; }

.plans table tr td {
  padding: 5px 10px;
  color: #6f6f6e;
  vertical-align: middle; }
  .plans table tr td:nth-child(2n) {
    border-left: 4px solid #eaf6fe; }

.plans sup {
  vertical-align: super;
  font-size: 12px; }

.plans .none {
  display: none; }

.profit {
  background: #FDFDFD; }
  .profit h2 {
    color: #DB9023;
    font-weight: 300;
    font-size: 30px;
    text-transform: lowercase;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 40px; }
  .profit .half {
    width: 48.57143%;
    float: left;
    box-sizing: border-box;
    text-align: left; }
    @media screen and (min-width: 1px) {
      .profit .half {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        padding-left: 20px;
        padding-right: 20px; }
        .profit .half.second {
          padding-left: 20px; } }
    @media screen and (min-width: 800px) {
      .profit .half {
        width: 48.57143%;
        float: left;
        padding-left: 0px;
        padding-right: 0px; }
        .profit .half.second {
          padding-left: 40px; } }
  .profit li {
    line-height: 20px;
    font-size: 15px;
    padding-top: 15px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    color: #595857; }
    .profit li:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .profit li:before {
      content: '●';
      color: #E5AE2A;
      padding-right: 10px;
      float: left;
      padding-bottom: 2%;
      width: 3%;
      box-sizing: border-box; }
    .profit li span {
      float: left;
      width: 97%; }
  .profit b {
    color: #E5AE2A;
    font-weight: 700; }

.report {
  background: url("images/report.jpg") no-repeat;
  background-size: cover; }
  .report .player {
    background: url("images/report.jpg") no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden; }
    .report .player:before {
      content: ' ';
      float: left;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); }
    .report .player:after {
      content: '';
      background: url("images/sprite.png") no-repeat -79px 0px;
      height: 54px;
      width: 54px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.5;
      transition: opacity .3 ease; }
    .report .player:hover:after {
      opacity: 1;
      transition: opacity .3 ease; }
    @media screen and (min-width: 1px) {
      .report .player {
        width: 100%;
        height: 320px;
        box-sizing: border-box;
        margin: 40px auto; } }
    @media screen and (min-width: 800px) {
      .report .player {
        width: 600px;
        height: 400px;
        margin: 150px auto 70px auto; } }
  .report .folders {
    margin-top: 50px; }
    .report .folders .folder_elem {
      width: 31.42857%;
      float: left; }
      .report .folders .folder_elem .wrap {
        margin: auto;
        width: 150px;
        height: 120px;
        font-size: 15px;
        background: url("images/folder.png") no-repeat;
        background-size: cover;
        padding-top: 62px;
        box-sizing: border-box;
        text-align: center;
        color: #595857;
        cursor: pointer; }

.review h2 {
  color: #db9023;
  font-weight: 300;
  font-size: 30px;
  text-transform: lowercase;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 40px; }

.review .review_block .elem {
  box-sizing: border-box; }
  @media all and (min-width: 1px) {
    .review .review_block .elem {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      text-align: center; } }
  @media all and (min-width: 800px) {
    .review .review_block .elem {
      width: 48.57143%;
      float: left;
      text-align: left; } }
  .review .review_block .elem .header {
    width: 200px;
    height: 200px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative; }
    @media all and (min-width: 1px) {
      .review .review_block .elem .header {
        margin: auto; } }
    @media all and (min-width: 800px) {
      .review .review_block .elem .header {
        margin: 0; } }
    .review .review_block .elem .header img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 98%;
      max-height: 98%;
      border-radius: 50%;
      border: 2px solid #e5ae2a; }
  .review .review_block .elem .name {
    color: #5b9bd5;
    font-size: 19px;
    padding-bottom: 10px;
    padding-top: 10px; }
  .review .review_block .elem .status {
    color: #595857;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 20px; }
  .review .review_block .elem p,
  .review .review_block .elem .adress {
    color: #595857;
    font-size: 15px;
    padding-bottom: 15px; }

.size {
  background: #fff; }
  .size .container {
    position: relative; }
  .size .table_wrap {
    overflow-x: auto;
    width: 100%; }
  .size h4 {
    color: #595857;
    font-size: 18px;
    padding-bottom: 10px; }
  .size ul {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px; }
  .size li {
    line-height: 20px;
    padding-top: 5px;
    color: #595857; }
    .size li::after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .size li::before {
      content: '●';
      color: #e5ae2a;
      padding-right: 10px;
      float: left;
      height: 25px; }
  .size .price {
    position: absolute;
    top: 20px;
    right: 0; }
    @media (min-width: 1px) {
      .size .price {
        display: none; } }
    @media (min-width: 800px) {
      .size .price {
        display: block; } }

.success {
  background: #E4F3FA; }
  .success h2 {
    color: #DB9023;
    font-weight: 300;
    font-size: 30px;
    text-transform: lowercase;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 40px; }
  .success p {
    color: #595857;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 18px; }
  .success li {
    line-height: 20px;
    padding-top: 5px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    color: #595857; }
    .success li:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .success li:before {
      content: '●';
      color: #E5AE2A;
      padding-right: 10px;
      float: left;
      padding-bottom: 2%;
      width: 3%;
      box-sizing: border-box; }
    .success li span {
      float: left;
      width: 97%; }
  .success .company {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    .success .company .elem {
      position: relative;
      overflow: hidden; }
      @media all and (min-width: 1px) {
        .success .company .elem {
          width: 100%;
          float: left;
          margin-left: 0;
          margin-right: 0; } }
      @media all and (min-width: 800px) {
        .success .company .elem {
          width: 31.42857%;
          float: left; } }
      .success .company .elem img {
        width: 100%; }

.table {
  background: #e4f3fa; }
  .table h2 {
    color: #db9023;
    font-weight: 300;
    font-size: 30px;
    text-transform: lowercase;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 40px; }
  .table p {
    color: #595857;
    text-align: center;
    padding-top: 10px;
    font-size: 18px; }
  .table table {
    width: 100%;
    color: #595857; }
    .table table tr:nth-child(odd) {
      background: #fff; }
    .table table tr:nth-child(even) {
      background: #fef6e6; }
    .table table th {
      color: #595857;
      font-weight: 700;
      text-transform: uppercase;
      background: #f7af12;
      border: 1px solid #fff;
      padding: 15px; }
    .table table td {
      border-left: 1px solid #fbc35b;
      padding: 15px; }
    .table table b {
      font-weight: 700; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100%;
  background: rgba(219, 144, 35, 0.6); }
  .modal.close_modal {
    display: none; }
  .modal .wrap {
    position: relative;
    height: 100%;
    width: 100%; }
  .modal h3 {
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 15px;
    padding-top: 25px; }
  .modal .closer {
    height: 17px;
    width: 17px;
    position: absolute;
    right: -5px;
    top: -5px;
    background: url("images/sprite.png") no-repeat -136px 0px;
    cursor: pointer; }
  .modal .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: #FFF;
    padding: 20px; }
    .modal .form input {
      width: 80%;
      box-sizing: border-box;
      display: block;
      margin: 10px auto;
      padding: 15px 10px;
      border: 2px solid #797979;
      transition: border .3s ease; }
      .modal .form input:focus {
        outline: 0;
        border: 2px solid #DB9023; }
    .modal .form button {
      width: 80%;
      box-sizing: border-box;
      display: block;
      margin: 10px auto;
      padding: 15px 10px;
      background: #DB9023;
      color: #FFF;
      border: 0;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 20px;
      cursor: pointer; }
